#wesele{
    background-color: #000000;
    color: #FFFFFF
}

#dow{
    border: 0px solid red;
    text-align: center;
    
}

#dop{
    border: 0px solid blue;
    text-align: center;
}


body{
    background-color: #000000;
    color: white;
}



#progressBar {
    height: 25px;
    width: 70%;
    background: grey;
    border: 1px solid white;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

#progress {
    background: red;
    color: greenyellow;
    width: 0%;
    transition: width 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}