#wesele{
    
    color: #FFFFFF
}

#dow{
    border: 0px solid red;
    text-align: center;
    
}

#dop{
    border: 0px solid blue;
    text-align: center;
}


body{
    background-image: url("bg.jpg");
    background-size:contain;
    color: white;
}





img{
    border-radius: 8px;
    
}

#fotki{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}
